{% extends "account/base.html" %}
{% load i18n crispy_forms_tags account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>{% trans "Sign in" %}</h1>

        <form class="d-grid gap-1" class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form | crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary" type="submit">{% trans "Sign in" %}</button>
            <a class="btn btn-warning" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <a class="btn btn-secondary" href="{{ signup_url }}">{% trans "Sign up" %}</a>
        </form>

        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
            <div class="d-grid gap-1 mt-3">
                <p>{% translate "You can sign in with one of the external accounts as well." %}</p>
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </div>
        {% endif %}

    </div>
</div>

{% endblock %}
