[Unit]
Description=Coriolis (Dramatiq task queue)
Requires=redis.service postgresql.service
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
RuntimeDirectory=dramatiq
WorkingDirectory=/app
ExecStart=/usr/bin/bash -c "source /app/.venv/bin/activate && python manage.py rundramatiq"
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
KillMode=mixed
Restart=on-failure
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
