[Unit]
Description=Coriolis (Dramatiq task queue)
Requires=redis.service postgresql.service
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
RuntimeDirectory=dramatiq
WorkingDirectory=/app
ExecStart=poetry run python manage.py rundramatiq
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
