[Unit]
Description=Coriolis (on gunicorn)
Requires=coriolis.socket redis.service postgresql.service
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/app
ExecStart=/usr/bin/bash -c "source /app/.venv/bin/activate && gunicorn coriolis.wsgi --timeout 30 --worker-class gthread --workers 4 --threads 4 --max-requests 64"
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
