# This is the main Coriolis settings file.
# Comment out unset variables - they'll be empty or invalid otherwise.
# Point the ENV_PATH env variable to this file before launching the server.

# Generate and deploy your production instance according to The Checklist:
# https://docs.djangoproject.com/en/3.2/howto/deployment/checklist/

# Secret key used to encrypt cookies and such. Checklist will
# tell you how to set this properly. This *MUST* be set to a
# unique, secret value in production.
SECRET_KEY=what-a-horribly-insecure-world-is-this

# Target environment (development/staging/production).
ENVIRONMENT=development

# Enable debugging and the Django Debug Toolbar?
DEBUG=1

# Sentry integration: Crash and performance tracking for your app.
# - Register on sentry.io and set your DSN to enable crash tracking.
# - Generally, enable this for production/staging.
# - Comment out/leave empty to keep disabled.
# - Force disabled if DEBUG=True.
SENTRY_DSN=

# Send user details associated with the crash? (Good for staging.)
SENTRY_SEND_PII=1

# Ratio of performance events to feed Sentry with (0.0-1.0). The
# larger the value, the more accurate perf tracking, but sends a
# ton of events and burns through your Sentry quota. Set to 1.0
# on staging, but something like 0.1 on production.
SENTRY_SAMPLE_RATE=1.0

# Database URL, for example (PostgreSQL and MySQL only!):
# - postgresql://user:password@hostname:5432/database
# - mysql://user:%23password@127.0.0.1:3306/dbname
# More: db_url on https://django-environ.readthedocs.io/en/latest/types.html
DATABASE_URL=postgresql://coriolis:coriolis@localhost:5432/coriolis

# Email configuration, see https://docs.djangoproject.com/en/3.2/ref/settings/#email-backend
# for details. You need to explicitly pick the port if TLS is enabled.
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=mailhog
EMAIL_HOST_PASSWORD=mailhog
EMAIL_USE_TLS=0

# Email address to send notification/error emails from:
SERVER_EMAIL=coriolis@example.com

# Path to the user-uploaded media storage directory. If not set, will
# default to `media` in the app directory (which must be writable).
#MEDIA_ROOT=/data/media

# URL of the user-uploaded media root. Files uploaded to the directory
# above must be available under this URL. May be relative to the main
# domain or on a separate domain (recommended). Defaults to /media/.
#MEDIA_URL=/media/

# Comma-separated list of Django's ALLOWED_HOSTS (your domain).
# https://docs.djangoproject.com/en/3.2/ref/settings/#allowed-hosts
#ALLOWED_HOSTS=

# Two-letter country code to use for the default phone number region. Use
# Alpha-2 codes: https://en.wikipedia.org/wiki/ISO_3166-1#Current_codes
PHONENUMBER_REGION=PL

# Default currency to use for ticket prices, etc.
CURRENCY=PLN

# Time zone for the event. Use one of the TZ database names here:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TIME_ZONE=Europe/Warsaw

# Language code to use. All lowercase. This is en-us, pl-pl, etc.
# Values: http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE=pl-pl

# If set, displays an alert with the provided content on top of the
# Sign In page. May contain HTML.
#LOGIN_NOTICE=Maintenance in progress - things might break a little!

# If set, displays a footer with the provided content on the bottom
# of the Sign In page. May contain HTML.
#LOGIN_FOOTER=<b>Hello there!</b>

# Link to the Cookies Policy to display in the cookie prompt. If not
# set, the prompt will not be shown at all.
COOKIES_POLICY_LINK=https://example.com

# Payment host must point at the primary domain for external callbacks.
PAYMENT_HOST=localhost

# Whenever to enforce payments to go via HTTPS. Disable for development only.
PAYMENT_HTTPS=0

# Default customer country for online payments. As the system serves
# small events only, this can be set globally to a single country.
PAYMENT_ISO_COUNTRY=PL

# Which payment variant to use for the "Pay Online" button (default/przelewy24).
# The default backend is for testing/development only.
PAYMENT_PAY_ONLINE_VARIANT=default

# Currently, Coriolis only supports Przelewy24 via django-payments-przelewy24.
PAYMENTS_P24_POS_ID=123
PAYMENTS_P24_MERCHANT_ID=123
PAYMENTS_P24_CRC=e34a1
PAYMENTS_P24_API_KEY=abcdef123456
PAYMENTS_P24_SANDBOX=1
