[tool.poetry]
name = "coriolis"
version = "0.1.0"
description = "Small event ticketing and management tool"
license = "AGPL-3.0-or-later"
authors = ["Ryszard Knop <rk@dragonic.eu>"]
repository = "https://github.com/DragoonAethis/Coriolis"
readme = "README.md"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3",
    "Environment :: Web Environment",
    "Framework :: Django",
]

[tool.poetry.dependencies]
python = "^3.10"
requests = "^2.28.1"
sentry-sdk = "^1.11.1"
Django = "^4.1.3"
django-allauth = "^0.52.0"
django-environ = "^0.9.0"
django-debug-toolbar = "^3.7.0"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "^7.0.0"}
django-crispy-forms = "^1.14.0"
crispy-bootstrap5 = "^0.7"
gunicorn = "^20.1.0"
whitenoise = {extras = ["brotli"], version = "^6.2.0"}
psycopg2 = "^2.9.5"
django-allauth-2fa = "^0.10"
django-colorfield = "^0.8.0"
Pillow = "^9.3.0"
Markdown = "^3.3.6"
django-payments = "^1.0.0"
django-money = "^3.0.0"
dramatiq = {extras = ["watch", "redis"], version = "^1.13.0"}
django-dramatiq = "^0.11.2"
pydantic = "^1.10.2"

# Commented out until fixes are upstreamed:
#django-payments-przelewy24 = "0.1.7"
django-dramatiq-email = {git = "https://github.com/DragoonAethis/django-dramatiq-email"}
xlsxwriter = "^3.0.7"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
