{% extends 'base.html' %}
{% load i18n events crispy_forms_tags %}

{% block head_title %}[{{ ticket.get_code }}] {% translate "Depersonalize ticket" %}{% endblock %}
{% block brand_title %}{{ event.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h5 class="text-muted">{% translate "Depersonalize ticket" %}</h5>
            <h1 class=""><b>{{ ticket.get_code }}</b> {{ ticket.name }}</h1>
            {% crispy form %}
        </div>
        <div class="col">
            <img class="img-fluid" src="{{ ticket.get_preview_url }}">
        </div>
    </div>

{% endblock %}
