{% extends 'base.html' %}
{% load i18n static events crispy_forms_tags %}

{% block head_title %}{{ org.name }} - {{ event.name }}{% endblock %}
{% block brand_title %}{{ event.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1><i class="bi bi-people-fill"></i> {{ org.name }}</h1>
            <div class="row">
                <div class="col-12 col-md-6 mb-1 mb-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="mb-0 font-monospace text-body-secondary text-uppercase">
                                <i class="bi bi-geo-alt-fill"></i>
                                {% translate "Location tag" %}
                            </h6>
                            <h4 class="mb-0">{{ object.location_tag|default:"-" }}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-1 mb-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="mb-0 font-monospace text-body-secondary text-uppercase">
                                <i class="bi bi-ticket-perforated-fill"></i>
                                {% translate "Ticket type" %}
                            </h6>
                            <h4 class="mb-0">{{ object.target_ticket_type.short_name }}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-1 mb-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="mb-0 font-monospace text-body-secondary text-uppercase">
                                <i class="bi bi-person-heart"></i>
                                {% translate "Owner" %}
                            </h6>
                            <h4 class="mb-0"><a href="mailto:{{ object.owner.email }}">{{ object.owner }}</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-1 mb-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="mb-0 font-monospace text-body-secondary text-uppercase">
                                <i class="bi bi-file-person"></i>
                                {% translate "Representative" %}
                            </h6>
                            <h4 class="mb-0">{{ object.billing_details_set.first.representative|default:"-" }}</h4>
                        </div>
                    </div>
                </div>
            </div>

            {% if perms.events.crew_accreditation %}
                <hr>
                <h2>
                    {% translate "Tickets" %}
                    ({{ object.ticket_set.count }}/{{ object.target_ticket_count }})
                </h2>
                <table class="table table-striped table-bordered table-sm table-hover mb-2">
                    <thead>
                    <tr class="table-light">
                        <th scope="col" class="sticky-top">{% translate "Code" %}</th>
                        <th scope="col" class="sticky-top">{% translate "Name" %}</th>
                        <th scope="col" class="sticky-top bg-light">{% translate "Email" %}</th>
                        <th scope="col" class="sticky-top bg-light">{% translate "Phone" %}</th>
                        <th scope="col" class="sticky-top bg-light">{% translate "Nickname" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in object.ticket_set.all %}
                        <tr>
                            <th scope="row" class="table-{{ ticket.get_status_css_class }} font-monospace">
                                {{ ticket.get_code }} <i class="bi bi-{{ ticket.get_status_icon }}"></i>
                                {% if ticket.is_overpaid %}
                                    <i title="{% trans "Overpaid! (Contributed Value > Price)" %}"
                                       class="bi bi-exclamation-octagon-fill text-danger"></i>
                                {% endif %}
                            </th>
                            <td><a href="{% url 'crew_existing_ticket' event.slug ticket.id %}">{{ ticket.name }}</a></td>
                            <td>{{ ticket.email }}</td>
                            <td>{{ ticket.phone }}</td>
                            <td>{{ ticket.nickname }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <form action="{% url "crew_orgs_tickets_generate" event.slug object.id %}" method="post" class="input-group mb-3">
                    <span class="input-group-text" id="generate-tickets">{% translate "Generate tickets" %}:</span>
                    <input type="number" class="form-control" name="count" placeholder="#" aria-label="#" aria-describedby="generate-tickets" value="1" min="1" max="20" required>
                    <span class="input-group-text">x</span>
                    <span class="input-group-text">{% translate "of type" %}:</span>
                    <select class="form-select" name="type" aria-describedby="generate-tickets">
                        {% for ttype in event.get_ticket_types_available_on_site %}
                            <option value="{{ ttype.id }}" {% if org.target_ticket_type.id == ttype.id %}selected{% endif %}>{{ ttype.name }}</option>
                        {% empty %}
                            <option disabled>{% translate "No tickets available..." %}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" name="is_of_age" value="1" aria-label="Checkbox for following text input" checked>
                        &nbsp; 18+
                    </div>
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit" id="add-task-btn">
                        <i class="bi bi-plus"></i> {% translate "Add" %}
                    </button>
                </form>
                {% if perms.events.change_ticket and perms.events.crew_accreditation %}
                    <a href="{% url "crew_attach_tickets_search" event.slug org.id %}" class="btn btn-warning">
                        <i class="bi bi-wrench me-1"></i> {% trans "Attach existing tickets" %}
                    </a>
                {% endif %}
            {% endif %}

            {% if perms.events.crew_orgs_view_tasks %}
                <hr>
                <h2>{% translate "Tasks" %} ({{ object.tasks_done_count }}/{{ object.task_set.count }})</h2>
                {% for task in object.task_set.all %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <form action="{% url "crew_orgs_tasks_update" event.slug object.id task.id %}" method="post">
                                <h5 class="card-title">
                                    <button type="submit" class="btn btn-sm {% if task.done %}btn-success{% else %}btn-outline-primary{% endif %}">
                                        <i class="bi bi-check-lg"></i>
                                    </button>
                                    <span {% if task.done %}class="text-success text-decoration-line-through"{% endif %}>{{ task.name }}</span>
                                </h5>
                                <div class="mb-1">
                                    {% csrf_token %}
                                    <label for="task_notes" hidden>Notes</label>
                                    <textarea class="w-100 form-control" name="task_notes" id="task_notes" rows="1">{{ task.notes }}</textarea>
                                </div>
                            </form>
                            <div class="font-monospace text-body-secondary text-uppercase">
                                <small>
                                    <i class="bi bi-clock-history"></i> {{ task.updated }} &middot;
                                    <i class="bi bi-person"></i> {{ task.updated_by }}
                                </small>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>{% translate "There are no tasks. Add some?" %}</p>
                {% endfor %}

                <form action="{% url "crew_orgs_tasks_add" event.slug object.id %}" method="post" class="input-group mb-3">
                    <span class="input-group-text" id="add-a-task">{% translate "Add a task" %}:</span>
                    <input type="text" class="form-control" name="name" placeholder="{% translate "Name" %}" aria-label="{% translate "Name" %}" aria-describedby="add-a-task" required>
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit" id="add-task-btn">
                        <i class="bi bi-plus"></i> {% translate "Add" %}
                    </button>
                </form>
            {% endif %}

            {% if perms.events.crew_orgs_view_invoices or perms.events.crew_orgs_view_billing_details %}
                <hr>
                <h2>{% translate "Invoices" %}</h2>
                <a class="icon-link icon-link-hover" href="{% url 'event_org_invoices_overview' event.slug object.id %}">
                    {% translate "Go to invoices and billing details" %}
                    <i class="bi bi-arrow-right fix-icon-va"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}