{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block head_title %}{% translate "Crew Panel" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>{{ ticket.get_code }}: {{ ticket.name }}</h1>
        </div>
        <div class="col-12 col-lg-6">


            {% if horrible_error %}
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">{% translate "Error" %}:</div>
                    <div class="card-body">
                        <h1 class="m-0">{{ horrible_error }}</h1>
                    </div>
                </div>
                <a href="{% url 'crew_index' event.slug %}" class="btn btn-primary btn btn-lg btn-primary w-100 mb-2">
                    {% translate "Return to Accreditation" %}
                </a>
            {% endif %}

            {# https://docs.djangoproject.com/en/5.2/ref/templates/builtins/#boolean-operators -> (X and Y) or Z #}
            {% if event.force_display_ticket_details_in_crew_panel and perms.events.view_ticket or not horrible_error %}
                {% if ticket.accreditation_notes %}
                    <div class="card mb-2 text-bg-warning">
                        <div class="card-header">
                            {% translate "Accreditation Notes" %}:
                        </div>
                        <div class="card-body">
                            <p class="mb-0">{{ ticket.accreditation_notes }}</p>
                        </div>
                    </div>
                {% endif %}

                <div class="card mb-2 text-bg-warning">
                    <div class="card-header">
                        {% translate "Confirm identity" %}:
                    </div>
                    <div class="card-body">
                        <ul class="mb-0">
                            <li>{% translate "Name" %}: {{ ticket.name }}</li>
                            <li>{% translate "Email" %}: {{ ticket.email }}</li>
                            {% if ticket.phone %}
                                <li>{% translate "Phone" %}: {{ ticket.phone }}</li>
                            {% endif %}
                            {% if ticket.nickname %}
                                <li>{% translate "Nickname" %}: {{ ticket.nickname }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                {% if ticket.is_paid_for %}
                    <div class="card mb-2 text-bg-success">
                        <div class="card-header" style="border-radius: var(--bs-card-inner-border-radius)">
                            {% translate "Paid" %}: ☑️ {% translate "Yes" %}
                        </div>
                    </div>
                {% else %}
                    <div class="card mb-2 text-bg-warning">
                        <div class="card-header">
                            {% translate "Paid" %}: ❌ {% translate "No" %}
                        </div>
                        <div class="card-body">
                            <h4 class="mb-0">
                                {% translate "Price" %}: <b>{{ ticket.get_price }}</b>
                            </h4>
                        </div>
                    </div>
                {% endif %}

                {% if ticket.age_gate is False %}
                    <div class="card mb-2 text-bg-warning">
                        <div class="card-body">
                            <h4 class="mb-0">
                                {% translate "Attendee is not of age" %} - {% translate "check the card." %}
                            </h4>
                        </div>
                    </div>
                {% endif %}

                <div class="card mb-2 text-bg-warning">
                    <div class="card-header">
                        {% translate "Issued Identifier" %}:
                    </div>
                    <div class="card-body">
                        <h4 class="mb-0">
                            {% if ticket.issued_identifier %}
                                {{ ticket.issued_identifier }}
                            {% elif ticket.type.short_name %}
                                {% translate "Blank" %} - {{ ticket.type.short_name }}
                            {% else %}
                                ???
                            {% endif %}
                        </h4>
                    </div>
                </div>

                {% if not horrible_error %}
                    <hr>

                    {% crispy form %}
                {% endif %}
            {% endif %}
        </div>

        <div class="col-12 col-lg-6">
            <hr class="d-lg-none">
            <div class="card mb-2">
                <div class="card-header">
                    {% translate "Details" %}:
                </div>
                <div class="card-body">
                    <ul class="mb-0">
                        <li>{% translate "Type" %}: <b>{{ ticket.type }}</b></li>
                        <li>{% translate "Status" %}: <b>{{ ticket.get_status_display }}</b></li>
                        <li>{% translate "Created" %}: <b>{{ ticket.created }}</b></li>
                        <li>{% translate "Updated" %}: <b>{{ ticket.updated }}</b></li>
                    </ul>
                </div>
            </div>

            {% if other_tickets %}
                <div class="card mb-2">
                    <div class="card-header">
                        {% translate "This attendee has registered other tickets" %}:
                    </div>
                    <div class="card-body">
                        <ul class="mb-0">
                            {% for other_ticket in other_tickets %}
                                <li>
                                    <a href="{% url 'crew_existing_ticket' event.slug other_ticket.id %}">{{ other_ticket }}</a>
                                    ({{ other_ticket.get_status_display }})
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            {% if user.is_staff %}
                <div class="card mb-2">
                    <div class="card-header bg-warning">
                        <i class="bi bi-wrench me-2 me-lg-0"></i> {% translate "Staff Zone" %}
                    </div>
                    <div class="card-body">
                        <h4>{% translate "Payments" %}</h4>
                        <ul class="mb-0">
                            {% for payment in ticket.payment_set.all %}
                                <li>
                                    <a href="{% url 'admin:events_payment_change' payment.id %}">
                                        {{ payment.id }} @ {{ payment.created }}
                                    </a><br>
                                    <span class="badge rounded-pill text-bg-primary">{{ payment.get_status_display }}</span>
                                    {{ payment.variant }} &middot;
                                    TrID <code>{{ payment.transaction_id|default:"N/A" }}</code> &middot;
                                    {{ payment.captured_amount }}/{{ payment.total }} {{ payment.currency }}
                                </li>
                            {% endfor %}
                        </ul>

                        <hr>
                        <a href="{{ ticket.get_absolute_url }}" class="btn btn-primary">
                            <i class="bi bi-wrench me-1"></i> {% translate "User ticket page" %}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
