{% load i18n %}
{% blocktranslate with event=event.name %}New application for {{ event }}
    :{% endblocktranslate %} {{ application.name }} ({{ application.type.name }})
{% if answers %}{% for label, answer in answers.items %}
    - {{ label }}: {{ answer }}
{% endfor %}{% endif %}
- {% translate "Phone" %}: {{ application.phone }}
- {% translate "Email" %}: {{ application.email }}
- {% translate "Notes" %}: {{ application.notes }}

{% translate "If you have any questions or issues, feel free to reply to this email." %}
