@font-face {
    font-family: 'Multicolore';
    src: url('./multicolore.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Corporate Logo Rounded';
    src: url('./corporate-logo-rounded-bold-ver3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    overflow: hidden;
    color: white;
    font-family: "Multicolore", "Corporate Logo Rounded", sans-serif;
}

.text-top-bar,
.text-festiwal,
.text-remcon,
.text-2024,
.text-nick,
.marker-bar,
.text-bottom {
    z-index: 100;
}

.background {
    width: 1008px;
    height: 1258px;
    position: absolute;
    left: 0px;
    top: 127px;
    background-image: url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.bar {
    background-color: rgb(0, 95, 173);
    width: 1008px;
    height: 127px;
    position: absolute;
    z-index: -1;
}

.top-bar {
    left: 0px;
    top: 0px;
}

.marker-bar {
    left: 0px;
    top: 1115px;
    width: 1008px;
    height: 270px;
    display: flex;
    justify-content: center;
}

.bottom-bar {
    left: 0px;
    top: 1385px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    text-shadow: rgba(0, 0, 0, 0.9) 0px 4px 3px;
    letter-spacing: 0;
}

.text-top-bar {
    width: 500px;
    height: 127px;
    top: 0px;
    text-align: center;
    font-size: 44px;
    line-height: 1;
}

.text-role {
    left: 0px;
}

.text-code {
    left: 508px;
}

.text-festiwal {
    top: 175px;
    left: 180px;
    text-align: left;
    font-size: 60px;
}

.text-remcon {
    top: 204px;
    left: 175px;
    text-align: left;
    font-size: 150px;
}

.text-2024 {
    top: 332px;
    left: 610px;
    text-align: right;
    font-size: 90px;
}

.text-nick {
    top: 1130px;
    left: 50px;
    width: 908px;
    height: 200px;
    font-size: 64px;
    line-height: 1.1;
    text-align: center;
}

.text-nick-back {
    top: 800px !important;
}

.text-bottom {
    top: 1386px;
    left: 0px;
    width: 1008px;
    height: 110px;
    font-size: 40px;
}

.bottom-sticker {
    background-color: rgba(217, 217, 217, 0.2);
    width: 132px;
    height: 132px;
    position: absolute;
    left: 836px;
    top: 1340px;
    border-radius: 8px;
}

.bottom-logo {
    width: 132px;
    height: 120px;
    position: absolute;
    left: 836px;
    top: 1346px;
    background-image: url("logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*

40px padding for the sticker

1008,1512


1417.3 - 132
1289.2491  - x





*/
