@font-face {
    font-family: 'Multicolore';
    src: url('./multicolore.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Corporate Logo Rounded';
    src: url('./corporate-logo-rounded-bold-ver3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:where(html) {
  line-height: 1.15;
}

html, body {
    margin: 0;
    padding: 0;
    width: 1084px;
    height: 1588px;
    overflow: hidden;
    color: white;
    font-family: "Multicolore", "Corporate Logo Rounded", sans-serif;
}

div {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    text-shadow: rgba(0, 0, 0, 0.9) 0px 4px 3px;
    letter-spacing: 0;
}

.flex-col {
    flex-direction: column;
}

/*
Remcon 2024 IDs:
- 120x80mm + 3mm bleed = 126x86mm
- 1588x1084px
*/

.background {
    width: 1084px;
    height: 1352px;
    background-image: url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bar {
    background-color: rgb(0, 95, 173);
    width: 1084px;
    height: 118px;
}

.marker-bar {
    position: fixed;
    left: 0px;
    top: 1200px;
    width: 1084px;
    height: 270px;
}


.text-top-bar {
    width: 502px;
    height: 96px;
    top: 0px;
    text-align: center;
    font-size: 40px;
    line-height: 1;
    margin-top: 30px;
}

.text-role {
    left: 0px;
    margin-left: 24px;
    margin-right: 16px;
}

.text-code {
    left: 544px;
    margin-left: 16px;
    margin-right: 24px;
}

.text-festiwal {
    position: fixed;
    top: 173px;
    left: 195px;
    text-align: left;
    font-size: 62px;
}

.text-remcon {
    position: fixed;
    top: 203px;
    left: 188px;
    text-align: left;
    font-size: 157px;
}

.text-2024 {
    position: fixed;
    top: 337px;
    left: 641px;
    text-align: right;
    font-size: 95px;
}

.text-nick {
    position: fixed;
    top: 1200px;
    left: 88px;
    width: 908px;
    height: 200px;
    font-size: 64px;
    line-height: 1.1;
    text-align: center;
}

.text-nick-back {
    top: 860px !important;
}

.text-bottom {
    font-size: 39px;
    margin-bottom: 30px;
}
