@font-face {
    font-family: 'Multicolore';
    src: url('./multicolore.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Corporate Logo Rounded';
    src: url('./corporate-logo-rounded-bold-ver3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    overflow: hidden;
    color: white;
    font-family: "Multicolore", "Corporate Logo Rounded", sans-serif;
}

.background {
    width: 1084px;
    height: 1352px;
    position: absolute;
    left: 0px;
    top: 118px;
    background-image: url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bar {
    background-color: rgb(0, 95, 173);
    width: 1084px;
    height: 118px;
    position: absolute;
}

.top-bar {
    left: 0px;
    top: 0px;
}

.marker-bar {
    left: 0px;
    top: 1082px;
    width: 1084px;
    height: 270px;
}

.bottom-bar {
    left: 0px;
    top: 1470px;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    text-shadow: rgba(0, 0, 0, 0.9) 0px 4px 3px;
    letter-spacing: 0;
}

.text-top-bar {
    width: 502px;
    height: 96px;
    top: 0px;
    text-align: center;
    font-size: 40px;
    line-height: 1;
    margin-top: 30px;
}

.text-role {
    left: 0px;
    margin-left: 24px;
    margin-right: 16px;
}

.text-code {
    left: 544px;
    margin-left: 16px;
    margin-right: 24px;
}

.text-festiwal {
    top: 55px;
    left: 195px;
    text-align: left;
    font-size: 62px;
}

.text-remcon {
    top: 85px;
    left: 188px;
    text-align: left;
    font-size: 157px;
}

.text-2024 {
    top: 219px;
    left: 641px;
    text-align: right;
    font-size: 95px;
}

.text-nick {
    top: 1082px;
    left: 50px;
    width: 984px;
    height: 200px;
    font-size: 64px;
    line-height: 1.1;
    text-align: center;
}

.text-nick-back {
    top: 742px !important;
}

.text-bottom {
    font-size: 39px;
    margin-bottom: 30px;
}
