{% extends 'base.html' %}
{% load i18n events humanize crispy_forms_filters %}

{% block head_title %}{% trans "Ticket details" %}{% endblock %}
{% block brand_title %}{{ event.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="text-muted">{% translate "Ticket details" %}</h5>
            <h1 class="{% if ticket.is_cancelled %}text-muted text-decoration-line-through{% endif %}"><b>
                {{ ticket.type.code_prefix }}{{ ticket.code|stringformat:"04d" }}</b> {{ ticket.name }}</h1>
            <h5>{% translate "Type" %}: <b>{{ ticket.type.name }}</b></h5>
            <h5>{% translate "Status" %}: <b>{{ ticket.get_status_display }}</b></h5>
            <h5 class="{% if ticket.is_cancelled %}text-decoration-line-through{% endif %}">{% translate "Price" %}:
                <b>{{ ticket.get_price }}</b></h5>
            <hr>
            <h5>{% translate "Name" %}: <b>{{ ticket.name }}</b></h5>
            <h5>{% translate "Email" %}: <b>{{ ticket.email }}</b></h5>

            {% if ticket.phone %}
                <h5>{% translate "Phone" %}: <b>{{ ticket.phone }}</b></h5>
            {% endif %}

            {% if ticket.nickname %}
                <h5>{% translate "Nickname" %}: <b>{{ ticket.nickname }}</b></h5>
            {% endif %}

            <h5>{% translate "Notes" %}: <b>{{ ticket.notes }}</b></h5>
            <hr>
            <p>
                {% if ticket.is_cancelled %}
                    {% translate "This ticket is cancelled." %}
                {% else %}
                    {% translate "If you would like to change ticket details, please contact the event organizers." %}
                {% endif %}
            </p>
            <hr>
            <div class="text-muted">
                <a class="ticket-nerd-details" id="ticket_nerd_details_link" href="#">
                    <span id="ticket_nerd_details_toggle">[+]</span> {% translate "Details for nerds" %}
                </a>
            </div>
            {# d-none by default - shown with app.js #}
            <div class="ticket-nerd-details d-none" id="ticket_nerd_details_contents">
                <ul>
                    <li>Ticket ID: {{ ticket.id }}</li>
                    <li>Belongs to: {{ ticket.user }}</li>
                    {% for payment in ticket.payment_set.all %}
                        <li>Payment {{ payment.id }} ({{ payment.variant }}): {{ payment.status }}</li>
                    {% empty %}
                        <li>No payments.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-4">
            {% if ticket.preview %}
                <h5>{% translate "Ticket Preview" %}:</h5>
                <div>
                    <a href="#">
                        <img class="img-fluid"
                             src="{{ ticket.preview.url }}?updated={{ ticket.updated.timestamp | floatformat:"0" }}"
                             alt="Ticket preview image. Click to personalize."
                             data-bs-toggle="modal" data-bs-target="#personalizeModal">
                    </a>
                </div>
            {% elif ticket.image %}
                <h5>{% translate "Image" %}:</h5>
                <div>
                    <a href="#">
                        <img class="img-fluid"
                             src="{{ ticket.image.url }}?updated={{ ticket.updated.timestamp | floatformat:"0" }}"
                             alt="Image to be printed on the ticket. Click to personalize."
                             data-bs-toggle="modal" data-bs-target="#personalizeModal">
                    </a>
                </div>
            {% else %}
                <h5>{% translate "You have no custom image on your ticket." %}</h5>
            {% endif %}

            <div class="d-grid gap-2 mt-2">
                {% if ticket.can_personalize %}
                    <button class="btn btn-lg btn-primary" data-bs-toggle="modal"
                            data-bs-target="#personalizeModal">{% translate "Change nickname/image" %}</button>
                {% else %}
                    <button class="btn btn-lg btn-outline-primary"
                            disabled>{% translate "Cannot change ticket" %}</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal" id="personalizeModal" tabindex="-1" aria-labelledby="personalizeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="personalizeModalLabel">{% translate "Change nickname/image" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {% if ticket.can_personalize %}
                    <form action="{% url 'ticket_update' event.slug ticket.id %}" method="post"
                          enctype="multipart/form-data" novalidate>
                        <div class="modal-body">
                            <p>
                                {% blocktranslate with relative_date=ticket.type.registration_to|naturaltime %}
                                    You can change the nickname or image to be printed on your ticket here.
                                    Changes can be made as many times as you want until registration closes
                                    ({{ relative_date }}).
                                {% endblocktranslate %}
                            </p>

                            {% if event.ticket_renderer_help_text %}
                                <div class="alert alert-warning ticket-render-alert" role="alert">
                                    {% render_markdown event.ticket_renderer_help_text %}
                                </div>
                            {% endif %}

                            {% csrf_token %}
                            {{ update_form | crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                            <button type="submit" class="btn btn-primary">{% translate "Change" %}</button>
                        </div>
                    </form>
                {% else %}
                    <div class="modal-body">
                        <p>
                            {% translate "This ticket can no longer be changed." %}
                            {% if not ticket.type.can_register_or_change %}
                                {% blocktranslate with relative_date=ticket.type.registration_to|naturaltime %}
                                    Registration and changes were closed {{ relative_date }}.
                                {% endblocktranslate %}
                            {% endif %}
                        </p>
                        <p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">{% translate "Close" %}</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
