{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Ticket details" %}{% endblock %}
{% block brand_title %}{{ event.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="text-muted">{% translate "Ticket details" %}</h5>
            <h1 class="{% if ticket.is_cancelled %}text-muted text-decoration-line-through{% endif %}"><b>{{ ticket.type.code_prefix }}{{ ticket.code|stringformat:"04d" }}</b> {{ ticket.name }}</h1>
            <h5>{% translate "Type" %}: <b>{{ ticket.type.name }}</b></h5>
            <h5>{% translate "Status" %}: <b>{{ ticket.get_status_display }}</b></h5>
            <h5 class="{% if ticket.is_cancelled %}text-decoration-line-through{% endif %}">{% translate "Price" %}: <b>{{ ticket.type.price }}</b></h5>
            <hr>
            <h5>{% translate "Name" %}: <b>{{ ticket.name }}</b></h5>
            <h5>{% translate "Email" %}: <b>{{ ticket.email }}</b></h5>

            {% if ticket.phone %}
                <h5>{% translate "Phone" %}: <b>{{ ticket.phone }}</b></h5>
            {% endif %}

            {% if ticket.nickname %}
                <h5>{% translate "Nickname" %}: <b>{{ ticket.nickname }}</b></h5>
            {% endif %}

            <h5>{% translate "Notes" %}: <b>{{ ticket.notes }}</b></h5>
            <hr>
            <p>
                {% if ticket.is_cancelled %}
                    {% translate "This ticket is cancelled." %}
                {% else %}
                    {% translate "If you would like to change ticket details, please contact the event organizers." %}
                {% endif %}
            </p>
            <hr>
            <div class="text-muted">
                <a class="ticket-nerd-details" id="ticket_nerd_details_link" href="#">
                    <span id="ticket_nerd_details_toggle">[+]</span> {% translate "Details for nerds" %}
                </a>
            </div>
            <div class="invisible ticket-nerd-details" id="ticket_nerd_details_contents">
                <ul>
                    <li>Ticket ID: {{ ticket.id }}</li>
                    <li>Belongs to: {{ ticket.user }}</li>
                    {% for payment in ticket.payment_set.all %}
                        <li>Payment {{ payment.id }} ({{ payment.variant }}): {{ payment.status }}</li>
                    {% empty %}
                        <li>No payments.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-4">
            {% if ticket.preview %}
                <h5>{% translate "Ticket Preview" %}:</h5>
                <div><img class="img-fluid" src="{{ ticket.preview.url }}" alt="Ticket preview image"></div>
            {% elif ticket.image %}
                <h5>{% translate "Image" %}:</h5>
                <div><img class="img-fluid" src="{{ ticket.image.url }}" alt="Image to be printed on the ticket"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}
