{% extends 'base.html' %}
{% load i18n events crispy_forms_tags %}

{% block head_title %}{{ event.name }}{% endblock %}
{% block brand_title %}{{ event.name }}{% endblock %}

{% block content %}
    <h1>{{ type.name }} ({{ type.price }})</h1>
    <div>{% render_markdown type.long_description %}</div>
    {% crispy form %}
    <div class="alert alert-primary">
        <span>{% blocktranslate with price=type.price %}The ticket price is <b>{{ price }}</b>.{% endblocktranslate %}</span>
        {% if type.must_pay_online %}
            <span>{% translate "You must pay for this ticket type online." %}</span>
        {% else %}
            <span>{% translate "You can pay on-site or online (after registration)." %}</span>
        {% endif %}
    </div>
{% endblock %}
