{% extends 'base.html' %}
{% load i18n events crispy_forms_tags %}

{% block head_title %}{{ event.name }}{% endblock %}
{% block brand_title %}{{ event.name }}{% endblock %}

{% block content %}
    <h1>{{ ticket_type.name }} ({{ ticket_type.price }})</h1>
    <div>{% render_markdown ticket_type.long_description %}</div>
    {% crispy form %}
    <div class="alert alert-primary">
        <span>{% blocktranslate with price=ticket_type.price %}The ticket price is <b>{{ price }}</b>
            .{% endblocktranslate %}</span>
        <span>
            {% if ticket_type.online_payment_policy == 2 %}
                {% translate "You must pay for this ticket online." %}
            {% elif ticket_type.online_payment_policy == 1 %}
                {% translate "You can pay for this ticket on-site or online (after registration)." %}
            {% elif ticket_type.online_payment_policy == 0 %}
                {% translate "You must pay for this ticket on-site." %}
            {% endif %}
        </span>
    </div>
{% endblock %}
