
#div_id_remember {
    /* Fix for the auto login form styling */
    margin-bottom: 0 !important;
}

.brand-link {
    font-size: 1.7rem;
    text-decoration: none;
}

.ticket-icon {
    vertical-align: -.04em;
    margin-right: .25rem;
}

.ticket-nerd-details {
    color: #6c757d !important;
    font-family: var(--bs-font-monospace);
    text-decoration: none;
}

.card-ticket-cancelled > .card-header,
.card-ticket-cancelled > .card-body .card-title {
    text-decoration: line-through;
    color: #6c757d !important;
    --bs-text-opacity: 1;
}

.environment-development, .environment-staging {
    background: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.10),
        rgba(0, 0, 0, 0.10) 10px,
        rgba(0, 0, 0, 0.15) 10px,
        rgba(0, 0, 0, 0.15) 20px
    ), #ffd9d9;
}

.socialaccount_provider.google {
    border-color: #3979e2;
    background-color: #4285F4;
}

.socialaccount_provider.google:hover {
    border-color: #2e62b7;
    background-color: #2c59a4;
}

.socialaccount_provider.discord {
    border-color: #627bd7;
    background-color: #7289DA;
}

.socialaccount_provider.discord:hover {
    border-color: #415290;
    background-color: #5668a5;
}