#div_id_remember {
    /* Fix for the auto login form styling */
    margin-bottom: 0 !important;
}

.pre-wrap {
    white-space: pre-wrap;
}

.application-table tr th:first-child {
    width: 25%;
    max-width: 25%;
}

.counter-full-wrapper .invalid-feedback {
    display: block;
}

@media (min-width: 992px) {
    .counter-wrapper {
        display: flex !important;
        flex-direction: row-reverse !important;
        justify-content: flex-end !important;
        align-items: baseline !important;
    }

    .counter-wrapper > input {
        max-width: 100px;
        margin-right: 0.5rem;
    }
}

.form-select,
.form-control,
.form-check-input {
    border-color: #b5b6b7;
}

@keyframes pulse-red {
    0%   { color: var(--bs-heading-color); }
    5%   { color: var(--bs-danger); }
    10%  { color: var(--bs-heading-color); }
    15%  { color: var(--bs-danger); }
    20%  { color: var(--bs-heading-color); }
    25%  { color: var(--bs-danger); }
    100% { color: var(--bs-heading-color); }
}

.pulse-red {
    animation-name: pulse-red;
    animation-duration: 12s;
}

.btn-gaps {
    gap: 0.3rem 0.3rem;
}

.brand-link {
    font-size: 1.7rem;
    text-decoration: none;
}

.ticket-icon {
    vertical-align: -.04em;
    margin-right: .25rem;
}

.ticket-nerd-details {
    color: #6c757d !important;
    font-family: var(--bs-font-monospace);
    text-decoration: none;
}

.ticket-render-alert p:last-child {
    margin-bottom: 0;
}

.card-ticket-cancelled > .card-header,
.card-ticket-cancelled > .card-body .card-title {
    text-decoration: line-through;
    color: #6c757d !important;
    --bs-text-opacity: 1;
}

.application-banner > :last-child {
    margin-bottom: 0;
}

.environment-staging header,
.environment-development header {
    background: repeating-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.10),
            rgba(0, 0, 0, 0.10) 10px,
            rgba(0, 0, 0, 0.15) 10px,
            rgba(0, 0, 0, 0.15) 20px
    ), #ffd9d9;
}

.socialaccount_provider.google {
    border-color: #3979e2;
    background-color: #4285F4;
}

.socialaccount_provider.google:hover {
    border-color: #2e62b7;
    background-color: #2c59a4;
}

.socialaccount_provider.discord {
    border-color: #627bd7;
    background-color: #7289DA;
}

.socialaccount_provider.discord:hover {
    border-color: #415290;
    background-color: #5668a5;
}

body.logged-in .hide-for-logged-in {
    display: none;
    visibility: hidden;
}

body.logged-out .hide-for-logged-out {
    display: none;
    visibility: hidden;
}
