{% load i18n account %}
<div class="modal" id="changeLanguageModal" tabindex="-1" aria-labelledby="changeLanguageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeLanguageModalLabel">Language/{% translate "Language" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'set_language' %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <label for="language" class="form-label">Language/{% translate "Language" %}</label>
                    <select name="language" class="form-select" aria-label="Select language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                    selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel/{% translate "Cancel" %}</button>
                    <button type="submit" class="btn btn-primary">Change/{% translate "Change" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
