{% load i18n %}
<div id="cookieToast" class="toast position-absolute bottom-0 end-0 m-2" role="alert" aria-live="assertive"
     aria-atomic="true" data-bs-autohide="false">
    <div class="d-flex">
        <div class="toast-body">
            {% blocktranslate with cookies=cookies_link %}
                We use cookies to deliver basic functionality on this site.
                Read our <a href="{{ cookies }}">Cookies Policy</a> to learn more.
            {% endblocktranslate %}
        </div>
        <button type="button" class="btn-close me-2 mt-2" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>